@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
  overflow-y: scroll; /* Always show the vertical scrollbar */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Set Poppins as the default font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif; /* Use Poppins for headings */
  font-weight: 700; /* Bold weight */
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: 'Poppins', sans-serif; /* Use Poppins for paragraphs */
  font-weight: 400; /* Regular weight */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Keep code font for inline code elements */
}
